<div class="app-header">    
    <div class="header-left">
      <div class="logo">
        <img src="assets/logo/Imagotipo_Muni.svg"  style="width: auto; height: auto;" alt="Municipalidad de Antigua Guatemala">
        <div class="logo-text">
        </div>
      </div>
    </div>

    <div class="header-center">
      <h1 class="header-title">Mapa de Proyectos y Parqueos</h1>
    </div>

    <div class="header-right">
      <a href="login"><button  mat-button>
        <mat-icon>account_circle</mat-icon>Login</button>
    </a>
      </div> 
</div>